<!DOCTYPE html>
<html lang="en" style="height:100%;">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">

    <title>{% block title %}Enovix{% endblock title %}</title>
  </head>

  <body style="height:100%;">
    <div class="h-100 d-flex flex-column">
      <nav class="navbar navbar-expand-lg navbar-light bg-light m-1">
        <img src="{{ url_for('static',filename='images/enovix-logo-new.svg')}}">
        <ul class="navbar-nav ml-auto">
          <div class="d-flex flex-row-reverse bd-highlight">
            <li class="nav-item dropdown">
              <!-- Button trigger modal -->
              <span id="tsmStepInformation" class="m-2 align-middle"><b>STEP </b><b id="tsmStep" >1000</b> - <i id="tsm_step_description">step description</i></span>

              <span id="tsmPermissivesOpen"><button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#permissivesModal">
                Permissives
              </button></span>
              <!-- Modal -->
              <div class="modal fade" id="permissivesModal" tabindex="-1" role="dialog" aria-labelledby="permissivesModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="permissivesModalTitle">Permissives</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                      </button>
                    </div>
                    <div id="tsmPermissiveList" class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button id="tsmPermissivesClose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </div>
        </ul>
      </nav>

      <div class="d-flex flex-row flex-grow-1">
        <div class="h-100 d-flex flex-column" style="flex: 0 0 180px;">
          <div class="d-flex flex-row flex-grow-1">
            <div class="col bg-light m-1 p-1" >
              <div class="my-2 m-1" id="tsmHome"><button type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Home</button></div>
              <div class="my-2 m-1" id="tsmStart"><button type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Start</button></div>
              <div class="my-2 m-1" id="tsmRetry"><button type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Retry</button></div>
              <div class="my-2 m-1" id="tsmPause"><button type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Pause</button></div>
              <div class="my-2 m-1" id="tsmAbort"><button type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Abort</button></div>
              <div class="my-2 m-1" id="tsmStop"><button type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Stop</button></div>
              <div class="my-2 m-1" id="tsmStepMode"><button type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Step Mode</button></div>
              <div class="my-2 m-1" id="tsmNextStep"><button type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Next Step</button></div>
            </div>
          </div>
          <div class="d-flex flex-row ">
            <div class="col bg-light m-1 p-1">
              <div class="my-2 m-1" id="uawOpenModal">
                <button type="button" class="btn p-3 btn-outline-dark btn-block" data-toggle="modal" data-target="#uawModal" style='height: 80px'>
                  User Action
                </button>
              </div>
              <div class="modal fade" id="uawModal" tabindex="-1" role="dialog" aria-labelledby="uawModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="flex-column">
                                    <span id="uawHeader"><h4 class="display-4">Load Material</h4></span>
                                    <span id="uawDescription"><p class="lead">Place material in position for processing.</p></span>
                                </div>
                            </div>
                            <div class="modal-body">
                                <div id="uawBody">
                                    <form>
                                        <div class="form-group row">
                                            <label class="col-4 col-form-label">Cross Web Position:</label>
                                            <div class="col-8">
                                                <input type="text" readonly class="form-control-plaintext text-danger" value="+3000m">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-4 col-form-label">Down Web Position:</label>
                                            <div class="col-8">
                                                <input type="text" readonly class="form-control-plaintext text-success" value="-10m">
                                            </div>
                                        </div>
                                        <button type="button" id="uawMaterialAdjusted" class="btn btn-light btn-lg">Material Adjusted</button>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>

        <div class="h-100 d-flex flex-column flex-grow-1">
              <div class="d-flex flex-row flex-grow-1">
                <div class="d-flex flex-row bg-light flex-grow-1 m-1">
                </div>
            </div>
              <div class="d-flex flex-row ">
                <div class="d-flex flex-row bg-light flex-grow-1 m-1 p-1">
                  <a href="main" class="m-1 my-2"><button style='width:100px; height: 80px' type="button" class = "btn btn-outline-dark">
                      <div class="d-flex flex-row justify-content-center"><img src="{{ url_for('static',filename='icons/home.svg')}}" style='height: 40px'></div>
                      <div class="d-flex flex-row justify-content-center">Main</div>
                  </button></a>
                  <a href="motion" class="m-1 my-2"><button style='width:100px; height: 80px' type="button" class = "btn btn-outline-dark">
                      <div class="d-flex flex-row justify-content-center"><img src="{{ url_for('static',filename='icons/cog.svg')}}" style='height: 40px'></div>
                      <div class="d-flex flex-row justify-content-center">Motion</div>
                  </button></a>
                  <a href="vision" class="m-1 my-2"><button style='width:100px; height: 80px' type="button" class = "btn btn-outline-dark">
                      <div class="d-flex flex-row justify-content-center"><img src="{{ url_for('static',filename='icons/aperture.svg')}}" style='height: 40px'></div>
                      <div class="d-flex flex-row justify-content-center">Vision</div>
                  </button></a>
                  <a href="recipe" class="m-1 my-2"><button style='width:100px; height: 80px' type="button" class = "btn btn-outline-dark">
                      <div class="d-flex flex-row justify-content-center"><img src="{{ url_for('static',filename='icons/list.svg')}}" style='height: 40px'></div>
                      <div class="d-flex flex-row justify-content-center">Recipe</div>
                  </button></a>
                </div>
              </div>
        </div>
      </div>
    </div>

    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="{{ url_for('static',filename='js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

    <!-- socket.io -->
    <script src="{{ url_for('static',filename='js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/application.js') }}"></script>
  </body>
</html>