/*color selector https://htmlcolorcodes.com/*/
/*convert color to filters https://codepen.io/sosuke/pen/Pjoqqp*/

.icon-green {
    filter: invert(99%) sepia(52%) saturate(1860%) hue-rotate(62deg) brightness(90%) contrast(94%);
}

.icon-blue {
    filter: invert(66%) sepia(23%) saturate(983%) hue-rotate(163deg) brightness(92%) contrast(91%);
}

.icon-red {
    filter: invert(33%) sepia(92%) saturate(1133%) hue-rotate(336deg) brightness(98%) contrast(87%);
}

.icon-brown {
    filter: invert(43%) sepia(9%) saturate(2842%) hue-rotate(349deg) brightness(96%) contrast(92%);
}

.badge-element td{
    border: 1px solid #f8f9fa;
    border-radius: 8px 8px 8px 8px;
}

.tab-container {
    margin-right: 0;
    padding: 0;
    left: 10px
}

.tab-content-container{
    margin: 0;
    background-color: #f8f9fa;
    border-radius: 10px 10px 10px 10px;
}

.tab-content-container td{
    border-top: none;
}

.nav-item.nav-link {
    color: #f8f9fa;
    border: 1px solid #ddd;
    background-color: #9098a2;
}

.nav-item.nav-link:hover{
    background-color: #9098a263;
}

.nav-item.nav-link.active {
    border-color: #9098a2;
    background-color: #f8f9fa;
    color: #9098a2
}

.nav-item.nav-link.left {
    border-right-style: none;
    border-radius: 10px 0px 0px 10px;
}

.progress-circle .box svg{
    width: calc(var(--radius)*2 + var(--stroke-width));
    height: calc(var(--radius)*2 + var(--stroke-width));
}

.progress-circle .box  div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-circle .box circle {
    --dash-size: calc(2*3.142*var(--radius));

    cx: var(--radius);
    cy: var(--radius);
    r: var(--radius);

    stroke-width: 10px;
    fill: none;
    transform: translate(calc(var(--stroke-width)/2), calc(var(--stroke-width)/2));
    stroke-dasharray: var(--dash-size);
    stroke-dashoffset: 0;
    stroke-linecap: round;
    transition-property: all;
    transition-duration: 1s;
}

.progress-circle svg .empty-progress {
    stroke: #f3f3f3;
}

.progress-circle svg .progress {
    --progress: 0;
    stroke: #03a9f4;
    stroke-dashoffset: calc(var(--dash-size) - (var(--dash-size) * var(--progress)) / 100);
}
