<!DOCTYPE html>
<html lang="en" style="height:100%;">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/custom.css') }}">

    <title>{% block title %}Enovix{% endblock title %}</title>
</head>

<body style="height:100%;">
<div class="h-100 d-flex flex-column">
    {% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light m-1 d-flex">
        <img src="{{ url_for('static',filename='images/enovix-logo-new.svg')}}">
    </nav>
    {% endblock header %}

    <div class="radial-progress">
			<div class="circle">
				<div class="fill"></div>
			</div>
    </div>
    <div class="d-flex flex-row flex-grow-1">
        {% block sidebar %}
<!--        <div class="h-100 d-flex flex-column" style="flex: 0 0 180px;">-->
<!--            <div class="d-flex flex-row flex-grow-1">-->
<!--                <div class="col bg-light m-1 p-1">-->
<!--                    <div class="my-2 m-1">-->
<!--                        <button id="tsmHome" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">-->
<!--                            Home-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="my-2 m-1">-->
<!--                        <button id="tsmStart" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">-->
<!--                            Start-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="my-2 m-1">-->
<!--                        <button id="tsmRetry" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">-->
<!--                            Retry-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="my-2 m-1">-->
<!--                        <button id="tsmPause" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">-->
<!--                            Pause-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="my-2 m-1">-->
<!--                        <button id="tsmAbort" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">-->
<!--                            Abort-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="my-2 m-1">-->
<!--                        <button id="tsmStop" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">-->
<!--                            Stop-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="my-2 m-1">-->
<!--                        <button id="tsmStepMode" type="button" class="btn p-3 btn-outline-dark btn-block"-->
<!--                                disabled="True">Step Mode-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="my-2 m-1">-->
<!--                        <button id="tsmNextStep" type="button" class="btn p-3 btn-outline-dark btn-block"-->
<!--                                disabled="True">Next Step-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="d-flex flex-row ">-->
<!--                <div class="col bg-light m-1 p-1">-->
<!--                    <div class="my-2 m-1">-->
<!--                        <button id="uawOpenModal" type="button" class="btn p-3 btn-outline-dark btn-block"-->
<!--                                data-toggle="modal" data-target="#uawModal" style='height: 80px'>-->
<!--                            User Action-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="modal fade" id="uawModal" tabindex="-1" role="dialog" aria-labelledby="uawModalTitle"-->
<!--                         aria-hidden="true">-->
<!--                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">-->
<!--                            <div class="modal-content">-->
<!--                                <div class="modal-header">-->
<!--                                    <div class="flex-column">-->
<!--                                        <h4 id="uawHeader" class="display-4">Load Material</h4>-->
<!--                                        <p id="uawDescription" class="lead">Place material in position for-->
<!--                                            processing.</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="modal-body">-->
<!--                                    <div id="uawBody">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="modal-footer">-->

<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        {% endblock sidebar %}
        <div class="h-100 d-flex flex-row flex-grow-1">
            <div class="d-flex flex-column">
                <div class="d-flex flex-column bg-light flex-grow-1 m-1 p-1">
                    {% block footer %}
                    <a href="main" class="m-1 my-2">
                        <button style='width:100px; height: 80px' type="button" class="btn btn-outline-dark">
                            <div class="d-flex flex-row justify-content-center"><img
                                    src="{{ url_for('static',filename='icons/home.svg')}}" style='height: 40px'></div>
                            <div class="d-flex flex-row justify-content-center">Main</div>
                        </button>
                    </a>
                    <a href="chart" class="m-1 my-2">
                        <button style='width:100px; height: 80px' type="button" class="btn btn-outline-dark">
                            <div class="d-flex flex-row justify-content-center"><img
                                    src="{{ url_for('static',filename='icons/graph.svg')}}" style='height: 40px'></div>
                            <div class="d-flex flex-row justify-content-center">Chart</div>
                        </button>
                    </a>
                    <a href="" class="m-1 my-2">
                        <button style='width:100px; height: 80px' type="button" class="btn btn-outline-dark">
                            <div class="d-flex flex-row justify-content-center"><img
                                    src="{{ url_for('static',filename='icons/aperture.svg')}}" style='height: 40px'>
                            </div>
                            <div class="d-flex flex-row justify-content-center">Sensor</div>
                        </button>
                    </a>
                    <a href="" class="m-1 my-2">
                        <button style='width:100px; height: 80px' type="button" class="btn btn-outline-dark">
                            <div class="d-flex flex-row justify-content-center"><img
                                    src="{{ url_for('static',filename='icons/list.svg')}}" style='height: 40px'></div>
                            <div class="d-flex flex-row justify-content-center">Blah</div>
                        </button>
                    </a>
                    <button id="uawOpenModal" style='width:100px; height:80px' class="btn btn-outline-dark mt-auto mx-auto" data-toggle="modal" data-target="#uawModal">
                        <div class="d-flex justify-content-center">User Action</div>
                    </button>
                    <div class="ml-auto mr-1 my-2">
                       <button id="btnDebug" style='display: True' type="button"
                               class="btn btn-light p-3 btn-block" hidden>
                           <div><img class="icon-brown" style="height: 40px"
                                     src="{{ url_for('static',filename='icons/cog.svg')}}"></div>
                        </button>
                    </div>
                    <div class="mx-auto">
                        <button id="btnConnectionToggle" style='width:80px; height: 80px' type="button"
                                class="btn btn-light p-3 btn-block">
                            <div><img class="icon-red" style="height: 40px"
                                      src="{{ url_for('static',filename='icons/rain.svg')}}"></div>
                        </button>
                    </div>
                    {% endblock footer %}
                </div>
            </div>

            <!--Model html-->
            <div class="modal fade" id="uawModal" tabindex="-1" role="dialog" aria-labelledby="uawModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="flex-column">
                                <h4 id="uawHeader" class="display-4">Load Material</h4>
                                <p id="uawDescription" class="lead">Place material in position for
                                    processing.</p>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div id="uawBody">
                            </div>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>
            {% block page %}
                default page
            {% endblock page %}

        </div>
    </div>
</div>

<!-- jQuery, Popper.js, Bootstrap JS -->
<script src="{{ url_for('static',filename='js/jquery-3.3.1.slim.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

<!-- socket.io -->
<script src="{{ url_for('static',filename='js/socket.io.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/application.js') }}"></script>
</body>
</html>