{%- extends "base.html" %}
{% block page %}
<div class="d-flex flex-row flex-grow-1 m-1 p-1 bg-light">
    <iframe class="flex-grow-1" src="{{chart_url}}" frameborder="0"></iframe>
</div>
{% endblock page %}