{%- extends "base.html" %}
{% block page %}
        <div class="d-flex flex-row flex-grow-1">
            <div class="d-flex flex-column flex-grow-1 bg-light m-1 p-1 px-3 TSM">
                <div class="d-flex flex-row flex-nowrap input-group border rounded mt-2 mb-4" id="inputGroupChannel1">
                    <div id="state1" class="input-group-prepend rounded-left badge-secondary">
                        <span class="h5 text-center m-auto" style="width:100px">State</span>
                        <button id="lock1" btn-type="lockTSM" class="btn btn-light">
                            <img src="{{ url_for('static',filename='icons/lock-unlocked.svg')}}" style='height: 25px' class="icon-green">
                        </button>
                    </div>
                    <div class="flex-grow-1 input-group-prepend">
                        <span class="h4 text-secondary m-auto">Channel 1</span>
                    </div>
                    <div class="border-left m-1 ml-auto"></div>
                    <button id="initiate1" btn-type="initiate" class="btn btn-light btn-lg mr-2"style="width:100px">Initiate</button>
                    <button id="start1" btn-type="start" class="btn btn-light btn-lg mr-2"style="width:100px">Start</button>
                    <button id="pause1" btn-type="pause" class="btn btn-light btn-lg mr-2"style="width:100px">Pause</button>
                    <button id="abort1" btn-type="abort" class="btn btn-light btn-lg"style="width:100px">Abort</button>
                </div>
                <div class="d-flex flex-row flex-nowrap input-group border rounded mt-2 mb-4" id="inputGroupChannel2">
                    <div id="state2" class="input-group-prepend rounded-left badge-secondary">
                        <span class="h5 text-center m-auto" style="width:100px">State</span>
                        <button id="lock2" btn-type="lockTSM" class="btn btn-light">
                            <img src="{{ url_for('static',filename='icons/lock-unlocked.svg')}}" style='height: 25px' class="icon-green">
                        </button>
                    </div>
                    <div class="flex-grow-1 input-group-prepend">
                        <span class="h4 text-secondary m-auto">Channel 2</span>
                    </div>
                    <div class="border-left m-1 ml-auto"></div>
                    <button id="initiate2" btn-type="initiate" class="btn btn-light btn-lg mr-2"style="width:100px">Initiate</button>
                    <button id="start2" btn-type="start" class="btn btn-light btn-lg mr-2"style="width:100px">Start</button>
                    <button id="pause2" btn-type="pause" class="btn btn-light btn-lg mr-2"style="width:100px">Pause</button>
                    <button id="abort2" btn-type="abort" class="btn btn-light btn-lg"style="width:100px">Abort</button>
                </div>
                <div class="d-flex flex-row flex-nowrap input-group border rounded mt-2 mb-4" id="inputGroupChannel3">
                    <div id="state3" class="input-group-prepend rounded-left badge-secondary">
                        <span class="h5 text-center m-auto" style="width:100px">State</span>
                        <button id="lock3" btn-type="lockTSM" class="btn btn-light">
                            <img src="{{ url_for('static',filename='icons/lock-unlocked.svg')}}" style='height: 25px' class="icon-green">
                        </button>
                    </div>
                    <div class="flex-grow-1 input-group-prepend">
                        <span class="h4 text-secondary m-auto">Channel 3</span>
                    </div>
                    <div class="border-left m-1 ml-auto"></div>
                    <button id="initiate3" btn-type="initiate" class="btn btn-light btn-lg mr-2"style="width:100px">Initiate</button>
                    <button id="start3" btn-type="start" class="btn btn-light btn-lg mr-2"style="width:100px">Start</button>
                    <button id="pause3" btn-type="pause" class="btn btn-light btn-lg mr-2"style="width:100px">Pause</button>
                    <button id="abort3" btn-type="abort" class="btn btn-light btn-lg"style="width:100px">Abort</button>
                </div>
                <div class="d-flex flex-row flex-nowrap input-group border rounded mt-2 mb-4" id="inputGroupChannel4">
                    <div id="state4" class="input-group-prepend rounded-left badge-secondary">
                        <span class="h5 text-center m-auto" style="width:100px">State</span>
                        <button id="lock4" btn-type="lockTSM" class="btn btn-light">
                            <img src="{{ url_for('static',filename='icons/lock-unlocked.svg')}}" style='height: 25px' class="icon-green">
                        </button>
                    </div>
                    <div class="flex-grow-1 input-group-prepend">
                        <span class="h4 text-secondary m-auto">Channel 4</span>
                    </div>
                    <div class="border-left m-1 ml-auto"></div>
                    <button id="initiate4" btn-type="initiate" class="btn btn-light btn-lg mr-2"style="width:100px">Initiate</button>
                    <button id="start4" btn-type="start" class="btn btn-light btn-lg mr-2"style="width:100px">Start</button>
                    <button id="pause4" btn-type="pause" class="btn btn-light btn-lg mr-2"style="width:100px">Pause</button>
                    <button id="abort4" btn-type="abort" class="btn btn-light btn-lg"style="width:100px">Abort</button>
                </div>
                <div class="d-flex flex-row flex-nowrap input-group border rounded mt-2 mb-4" id="inputGroupChannel5">
                    <div id="state5" class="input-group-prepend rounded-left badge-secondary">
                        <span class="h5 text-center m-auto" style="width:100px">State</span>
                        <button id="lock5" btn-type="lockTSM" class="btn btn-light">
                            <img src="{{ url_for('static',filename='icons/lock-unlocked.svg')}}" style='height: 25px' class="icon-green">
                        </button>
                    </div>
                    <div class="flex-grow-1 input-group-prepend">
                        <span class="h4 text-secondary m-auto">Channel 5</span>
                    </div>
                    <div class="border-left m-1 ml-auto"></div>
                    <button id="initiate5" btn-type="initiate" class="btn btn-light btn-lg mr-2"style="width:100px">Initiate</button>
                    <button id="start5" btn-type="start" class="btn btn-light btn-lg mr-2"style="width:100px">Start</button>
                    <button id="pause5" btn-type="pause" class="btn btn-light btn-lg mr-2"style="width:100px">Pause</button>
                    <button id="abort5" btn-type="abort" class="btn btn-light btn-lg"style="width:100px">Abort</button>
                </div>
                <div class="d-flex flex-row flex-nowrap input-group border rounded mt-2 mb-4" id="inputGroupChannel6">
                    <div id="state6" class="input-group-prepend rounded-left badge-secondary">
                        <span class="h5 text-center m-auto" style="width:100px">State</span>
                        <button id="lock6" btn-type="lockTSM" class="btn btn-light">
                            <img src="{{ url_for('static',filename='icons/lock-unlocked.svg')}}" style='height: 25px' class="icon-green">
                        </button>
                    </div>
                    <div class="flex-grow-1 input-group-prepend">
                        <span class="h4 text-secondary m-auto">Channel 6</span>
                    </div>
                    <div class="border-left m-1 ml-auto"></div>
                    <button id="initiate6" btn-type="initiate" class="btn btn-light btn-lg mr-2"style="width:100px">Initiate</button>
                    <button id="start6" btn-type="start" class="btn btn-light btn-lg mr-2"style="width:100px">Start</button>
                    <button id="pause6" btn-type="pause" class="btn btn-light btn-lg mr-2"style="width:100px">Pause</button>
                    <button id="abort6" btn-type="abort" class="btn btn-light btn-lg"style="width:100px">Abort</button>
                </div>
                <div class="d-flex flex-row flex-nowrap input-group border rounded mt-2 mb-4" id="inputGroupChannel7">
                    <div id="state7" class="input-group-prepend rounded-left badge-secondary">
                        <span class="h5 text-center m-auto" style="width:100px">State</span>
                        <button id="lock7" btn-type="lockTSM" class="btn btn-light">
                            <img src="{{ url_for('static',filename='icons/lock-unlocked.svg')}}" style='height: 25px' class="icon-green">
                        </button>
                    </div>
                    <div class="flex-grow-1 input-group-prepend">
                        <span class="h4 text-secondary m-auto">Channel 7</span>
                    </div>
                    <div class="border-left m-1 ml-auto"></div>
                    <button id="initiate7" btn-type="initiate" class="btn btn-light btn-lg mr-2"style="width:100px">Initiate</button>
                    <button id="start7" btn-type="start" class="btn btn-light btn-lg mr-2"style="width:100px">Start</button>
                    <button id="pause7" btn-type="pause" class="btn btn-light btn-lg mr-2"style="width:100px">Pause</button>
                    <button id="abort7" btn-type="abort" class="btn btn-light btn-lg"style="width:100px">Abort</button>
                </div>
                <div class="d-flex flex-row flex-nowrap input-group border rounded mt-2 mb-4" id="inputGroupChannel8">
                    <div id="state8" class="input-group-prepend rounded-left badge-secondary">
                        <span class="h5 text-center m-auto" style="width:100px">State</span>
                        <button id="lock8" btn-type="lockTSM" class="btn btn-light">
                            <img src="{{ url_for('static',filename='icons/lock-unlocked.svg')}}" style='height: 25px' class="icon-green">
                        </button>
                    </div>
                    <div class="flex-grow-1 input-group-prepend">
                        <span class="h4 text-secondary m-auto">Channel 8</span>
                    </div>
                    <div class="border-left m-1 ml-auto"></div>
                    <button id="initiate8" btn-type="initiate" class="btn btn-light btn-lg mr-2"style="width:100px">Initiate</button>
                    <button id="start8" btn-type="start" class="btn btn-light btn-lg mr-2"style="width:100px">Start</button>
                    <button id="pause8" btn-type="pause" class="btn btn-light btn-lg mr-2"style="width:100px">Pause</button>
                    <button id="abort8" btn-type="abort" class="btn btn-light btn-lg"style="width:100px">Abort</button>
                </div>
            </div>

            <div class="d-flex flex-column flex-grow-1 bg-light m-1 p-1 px-3 TSM">
                <div class="d-flex flex-row flex-nowrap input-group border rounded mt-2 mb-4" id="inputGroupChannel9">
                    <div id="state9" class="input-group-prepend rounded-left badge-success">
                        <span class="h5 text-center m-auto" style="width:100px">Homed</span>
                        <button id="lock9" btn-type="lockTSM" class="btn btn-light">
                            <img src="{{ url_for('static',filename='icons/lock-unlocked.svg')}}" style='height: 25px' class="icon-green">
                        </button>
                    </div>
                    <div class="flex-grow-1 input-group-prepend">
                        <span class="h4 text-secondary m-auto">Channel 9</span>
                    </div>
                    <div class="border-left m-1 ml-auto"></div>
                    <button id="initiate9" btn-type="initiate" class="btn btn-light btn-lg mr-2"style="width:100px">Initiate</button>
                    <button id="start9" btn-type="start" class="btn btn-light btn-lg mr-2"style="width:100px">Start</button>
                    <button id="pause9" btn-type="pause" class="btn btn-light btn-lg mr-2"style="width:100px">Pause</button>
                    <button id="abort9" btn-type="abort" class="btn btn-light btn-lg"style="width:100px">Abort</button>
                </div>
                <div class="d-flex flex-row flex-nowrap input-group border rounded mt-2 mb-4" id="inputGroupChannel10">
                    <div id="state10" class="input-group-prepend rounded-left badge-success">
                        <span class="h5 text-center m-auto" style="width:100px">Running</span>
                        <button id="lock10" btn-type="lockTSM" class="btn btn-light">
                            <img src="{{ url_for('static',filename='icons/lock-unlocked.svg')}}" style='height: 25px' class="icon-green">
                        </button>
                    </div>
                    <div class="flex-grow-1 input-group-prepend">
                        <span class="h4 text-secondary m-auto">Channel 10</span>
                    </div>
                    <div class="border-left m-1 ml-auto"></div>
                    <button id="initiate10" btn-type="initiate" class="btn btn-light btn-lg mr-2"style="width:100px">Initiate</button>
                    <button id="start10" btn-type="start" class="btn btn-light btn-lg mr-2"style="width:100px">Start</button>
                    <button id="pause10" btn-type="pause" class="btn btn-light btn-lg mr-2"style="width:100px">Pause</button>
                    <button id="abort10" btn-type="abort" class="btn btn-light btn-lg"style="width:100px">Abort</button>
                </div>
                <div class="d-flex flex-row flex-nowrap input-group border rounded mt-2 mb-4" id="inputGroupChannel11">
                    <div id="state11" class="input-group-prepend rounded-left badge-secondary">
                        <span class="h5 text-center m-auto" style="width:100px">Paused</span>
                        <button id="lock11" btn-type="lockTSM" class="btn btn-light">
                            <img src="{{ url_for('static',filename='icons/lock-unlocked.svg')}}" style='height: 25px' class="icon-green">
                        </button>
                    </div>
                    <div class="flex-grow-1 input-group-prepend">
                        <span class="h4 text-secondary m-auto">Channel 11</span>
                    </div>
                    <div class="border-left m-1 ml-auto"></div>
                    <button id="initiate11" btn-type="initiate" class="btn btn-light btn-lg mr-2"style="width:100px">Initiate</button>
                    <button id="start11" btn-type="start" class="btn btn-light btn-lg mr-2"style="width:100px">Start</button>
                    <button id="pause11" btn-type="pause" class="btn btn-light btn-lg mr-2"style="width:100px">Pause</button>
                    <button id="abort11" btn-type="abort" class="btn btn-light btn-lg"style="width:100px">Abort</button>
                </div>
                <div class="d-flex flex-row flex-nowrap input-group border rounded mt-2 mb-4" id="inputGroupChannel12">
                    <div id="state12" class="input-group-prepend rounded-left badge-danger">
                        <span class="h5 text-center m-auto" style="width:100px">Aborted</span>
                        <button id="lock12" btn-type="lockTSM" class="btn btn-light">
                            <img src="{{ url_for('static',filename='icons/lock-unlocked.svg')}}" style='height: 25px' class="icon-green">
                        </button>
                    </div>
                    <div class="flex-grow-1 input-group-prepend">
                        <span class="h4 text-secondary m-auto">Channel 12</span>
                    </div>
                    <div class="border-left m-1 ml-auto"></div>
                    <button id="initiate12" btn-type="initiate" class="btn btn-light btn-lg mr-2"style="width:100px">Initiate</button>
                    <button id="start12" btn-type="start" class="btn btn-light btn-lg mr-2"style="width:100px">Start</button>
                    <button id="pause12" btn-type="pause" class="btn btn-light btn-lg mr-2"style="width:100px">Pause</button>
                    <button id="abort12" btn-type="abort" class="btn btn-light btn-lg"style="width:100px">Abort</button>
                </div>
                <div class="d-flex flex-row flex-nowrap input-group border rounded mt-2 mb-4" id="inputGroupChannel13">
                    <div id="state13" class="input-group-prepend rounded-left badge-secondary">
                        <span class="h5 text-center m-auto" style="width:100px">State</span>
                        <button id="lock13" btn-type="lockTSM" class="btn btn-light">
                            <img src="{{ url_for('static',filename='icons/lock-unlocked.svg')}}" style='height: 25px' class="icon-green">
                        </button>
                    </div>
                    <div class="flex-grow-1 input-group-prepend">
                        <span class="h4 text-secondary m-auto">Channel 13</span>
                    </div>
                    <div class="border-left m-1 ml-auto"></div>
                    <button id="initiate13" btn-type="initiate" class="btn btn-light btn-lg mr-2"style="width:100px">Initiate</button>
                    <button id="start13" btn-type="start" class="btn btn-light btn-lg mr-2"style="width:100px">Start</button>
                    <button id="pause13" btn-type="pause" class="btn btn-light btn-lg mr-2"style="width:100px">Pause</button>
                    <button id="abort13" btn-type="abort" class="btn btn-light btn-lg"style="width:100px">Abort</button>
                </div>
                <div class="d-flex flex-row flex-nowrap input-group border rounded mt-2 mb-4" id="inputGroupChannel14">
                    <div id="state14" class="input-group-prepend rounded-left badge-secondary">
                        <span class="h5 text-center m-auto" style="width:100px">State</span>
                        <button id="lock14" btn-type="lockTSM" class="btn btn-light">
                            <img src="{{ url_for('static',filename='icons/lock-unlocked.svg')}}" style='height: 25px' class="icon-green">
                        </button>
                    </div>
                    <div class="flex-grow-1 input-group-prepend">
                        <span class="h4 text-secondary m-auto">Channel 14</span>
                    </div>
                    <div class="border-left m-1 ml-auto"></div>
                    <button id="initiate14" btn-type="initiate" class="btn btn-light btn-lg mr-2"style="width:100px">Initiate</button>
                    <button id="start14" btn-type="start" class="btn btn-light btn-lg mr-2"style="width:100px">Start</button>
                    <button id="pause14" btn-type="pause" class="btn btn-light btn-lg mr-2"style="width:100px">Pause</button>
                    <button id="abort14" btn-type="abort" class="btn btn-light btn-lg"style="width:100px">Abort</button>
                </div>
                <div class="d-flex flex-row flex-nowrap input-group border rounded mt-2 mb-4" id="inputGroupChannel15">
                    <div id="state15" class="input-group-prepend rounded-left badge-secondary">
                        <span class="h5 text-center m-auto" style="width:100px">State</span>
                        <button id="lock15" btn-type="lockTSM" class="btn btn-light">
                            <img src="{{ url_for('static',filename='icons/lock-unlocked.svg')}}" style='height: 25px' class="icon-green">
                        </button>
                    </div>
                    <div class="flex-grow-1 input-group-prepend">
                        <span class="h4 text-secondary m-auto">Channel 15</span>
                    </div>
                    <div class="border-left m-1 ml-auto"></div>
                    <button id="initiate15" btn-type="initiate" class="btn btn-light btn-lg mr-2"style="width:100px">Initiate</button>
                    <button id="start15" btn-type="start" class="btn btn-light btn-lg mr-2"style="width:100px">Start</button>
                    <button id="pause15" btn-type="pause" class="btn btn-light btn-lg mr-2"style="width:100px">Pause</button>
                    <button id="abort15" btn-type="abort" class="btn btn-light btn-lg"style="width:100px">Abort</button>
                </div>
                <div class="d-flex flex-row flex-nowrap input-group border rounded mt-2 mb-4" id="inputGroupChannel16">
                    <div id="state16" class="input-group-prepend rounded-left badge-secondary">
                        <span class="h5 text-center m-auto" style="width:100px">State</span>
                        <button id="lock16" btn-type="lockTSM" class="btn btn-light">
                            <img src="{{ url_for('static',filename='icons/lock-unlocked.svg')}}" style='height: 25px' class="icon-green">
                        </button>
                    </div>
                    <div class="flex-grow-1 input-group-prepend">
                        <span class="h4 text-secondary m-auto">Channel 16</span>
                    </div>
                    <div class="border-left m-1 ml-auto"></div>
                    <button id="initiate16" btn-type="initiate" class="btn btn-light btn-lg mr-2" style="width:100px"style="width:100px">Initiate</button>
                    <button id="start16" btn-type="start" class="btn btn-light btn-lg mr-2" style="width:100px"style="width:100px">Start</button>
                    <button id="pause16" btn-type="pause" class="btn btn-light btn-lg mr-2" style="width:100px"style="width:100px">Pause</button>
                    <button id="abort16" btn-type="abort" class="btn btn-light btn-lg" style="width:100px">Abort</button>
                </div>
            </div>
        </div>
{% endblock page %}