{%- extends "base.html" %}
{% block page %}
        <div class="d-flex flex-row flex-grow-1">
            <div class="d-flex flex-row bg-light flex-grow-1 m-1">
                <div class="d-flex flex-row flex-grow-1 align-self-top">
                    <div class="d-flex justify-content-center m-2">
                        <img src="{{ url_for('static',filename='images/brusher.PNG') }}" height="500">
                    </div>
                    <div class="col m-1">
                        <h5>Brushing Station</h5>
                        <hr>
                        <div class="d-flex flex-row m-1">
                            <div class="d-flex">
                                <h6 class="m-2">Web Status</h6>
                                <h5 class="m-2">
                                   <span id="tsvWebRunning" class="badge badge-secondary p-2">disabled</span>
                                </h5>
                            </div>
                        </div>
                        <div class="d-flex flex-row m-1" >
                            <div class="d-flex">
                                <h6 class="m-2">Top Motor</h6>
                                <h5 class="m-2">
                                   <span id="mtnMotor1Enabled" class="badge badge-secondary">disabled</span>
                                </h5>
                            </div>
                            <div class="d-flex">
                                <h5 class="m-2">
                                   <span id="mtnMotor1Homing" class="badge badge-secondary">disabled</span>
                                </h5>
                            </div>
                            <div class="d-flex">
                                <h5 class="m-2">
                                   <span id="mtnMotor1Running" class="badge badge-secondary">disabled</span>
                                </h5>
                            </div>
                        </div>
                        <div class="d-flex flex-row m-1" >
                            <div class="d-flex">
                                <h6 class="m-2">Bottom Motor</h6>
                                <h5 class="m-2">
                                   <span id="mtnMotor2Enabled" class="badge badge-secondary">disabled</span>
                                </h5>
                            </div>
                            <div class="d-flex">
                                <h5 class="m-2">
                                   <span id="mtnMotor2Homing" class="badge badge-secondary">disabled</span>
                                </h5>
                            </div>
                            <div class="d-flex">
                                <h5 class="m-2">
                                   <span id="mtnMotor2Running" class="badge badge-secondary">disabled</span>
                                </h5>
                            </div>
                        </div>
                        <hr>

                        <div class="d-flex flex-column m-1" >
                            <div class="d-flex flex-column flex-grow-1">
                                <h5>Station</h5>
                                <div class="d-flex flex-row bg-light flex-grow-1 m-1 ">
                                   <div class="my-2 m-1 d-flex flex-grow-1"><button id="mtnEnableStation" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Enable</button></div>
                                   <div class="my-2 m-1 d-flex flex-grow-1"><button id="mtnDisableStation" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Disable</button></div>
                                </div>
                                <div class="d-flex flex-row bg-light flex-grow-1 m-1 ">
                                   <div class="my-2 m-1 d-flex flex-grow-1"><button id="mtnHomeStation" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Home</button></div>
                                   <div class="my-2 m-1 d-flex flex-grow-1"><button id="mtnRunStation" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Run</button></div>
                                   <div class="my-2 m-1 d-flex flex-grow-1"><button id="mtnStopStation" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Stop</button></div>
                               </div>
                            </div>
                            <div class="d-flex flex-column flex-grow-1">
                                <h5>Top Motor</h5>
                               <div class="d-flex flex-row bg-light flex-grow-1 m-1 ">
                                    <div class="my-2 m-1 d-flex flex-grow-1"><button id="mtnHomeTopMotor" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Home</button></div>
                                    <div class="my-2 m-1 d-flex flex-grow-1"><button id="mtnRunTopMotor" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Run</button></div>
                                    <div class="my-2 m-1 d-flex flex-grow-1"><button id="mtnStopTopMotor" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Stop</button></div>
                               </div>
                            </div>
                            <div class="d-flex flex-column flex-grow-1">
                                <h5>Bottom Motor</h5>
                               <div class="d-flex flex-row bg-light flex-grow-1 m-1 ">
                                    <div class="my-2 m-1 d-flex flex-grow-1"><button id="mtnHomeBottomMotor" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Home</button></div>
                                    <div class="my-2 m-1 d-flex flex-grow-1"><button id="mtnRunBottomMotor" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Run</button></div>
                                    <div class="my-2 m-1 d-flex flex-grow-1"><button id="mtnStopBottomMotor" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Stop</button></div>
                               </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
{% endblock page %}