{%- extends "base.html" %}
{% block page %}

<div id="rmnRecipeTV" class="d-flex flex-row bg-light flex-grow-1 m-1" style="height:300px; overflow-y: auto;">

</div>

<div class="d-flex flex-row bg-light m-1">
    <button id="rmnAddRecipeButton" class="btn btn-primary btn-lg m-2 mx-4" type="button" data-toggle="modal"
            data-target="#rmnRecipeModal">
        <img id="rmnPlusImage" src="/static/icons/plus.svg"
             style="-webkit-filter: invert(1); filter: invert(1); width: 1rem; height: auto;">
        &nbspAdd New Recipe
    </button>
</div>
<!--Modal (fancy name for popup)-->

<!--add Modal-->
<div class="modal fade" id="rmnRecipeModal" tabindex="-1" role="dialog" aria-labelledby="rmnRecipeModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="rmnRecipeModalHeader" class="modal-title">Edit Recipe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="rmnRecipeModalBody" class="modal-body"></div>
            <div id="rmnRecipeManagerAlert" class="alert m-3 alert-success" role="alert" hidden="True"></div>
            <div class="modal-footer">
                <button id="rmnSubmit" class="btn btn-primary btn-block">Submit</button>
                <button id="rmnClose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock page %}



