{%- extends "base.html" %}
{% block page %}
<div class="d-flex flex-row flex-grow-1">
    <div class="d-flex flex-column flex-grow-1">
            <div class="d-flex flex-row bg-light m-1">
                <div class="d-flex justify-content-center m-2">
                    <img src="{{ url_for('static',filename='images/camera.PNG') }}" height="100">
                </div>
                <div class="col m-2">
                    <h5>Vision</h5>
                    <hr>
                    <h5>
                        <span id="vsnMilAppEnabled" class="badge badge-secondary">Enabled</span>
                        <span id="vsnMilAppFaulted" class="badge badge-secondary">Faulted</span>
                        <span id="vsnMilAppRecipe" class="badge badge-secondary">None</span>
                        <span id="vsnRollId" class="badge badge-secondary">None</span>
                    </h5>
                    <hr>
                    <div><span id="vsnLastRecordedSample">Last Recorded Sample:</span></div>
                    <!--<div class="d-flex flex-row bg-light flex-grow-1 m-1 ">

                        <div class="my-2 m-1 d-flex flex-grow-1"><button id="vsnEnableMilApp" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Enable</button></div>
                        <div class="my-2 m-1 d-flex flex-grow-1"><button id="vsnDisableMilApp" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Disable</button></div>


                    </div>-->

                </div>
            </div>
            <div class="d-flex flex-row bg-light flex-grow-1 m-1">
                <div class="col m-2">
                    <table class="table" id="vsnElectrodeData">
                    </table>
                    <table class="table" id="vsnTractorData">
                    </table>
                    <table class="table" id="vsnRegistrationMarkData">
                    </table>
                </div>
            </div>
    </div>

    <div class="d-flex flex-column flex-grow-1 ">
        <div class="d-flex flex-row bg-light flex-grow-1 m-1 ">
            <div class="d-flex justify-content-center m-2">
                <img src="{{ url_for('static',filename='images/backlight.PNG') }}" height="100">
            </div>
            <div class="col m-2">
                <h5>Back Light</h5>
                <hr>
                <h5>
                    <span id="vsnBacklightActive" class="badge badge-secondary">Disabled</span>
                </h5>
                <hr>
                <div class="d-flex flex-row bg-light flex-grow-1 m-1 ">
                    <div class="my-2 m-1 d-flex flex-grow-1"><button id="vsnEnableBackLight" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Enable</button></div>
                    <div class="my-2 m-1 d-flex flex-grow-1"><button id="vsnDisableBackLight" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Disable</button></div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row bg-light flex-grow-1 m-1 ">
            <div class="d-flex justify-content-center m-2">
                <img src="{{ url_for('static',filename='images/ring_light.PNG') }}" height="100">
            </div>
            <div class="col m-2">
                <h5>Ring Light</h5>
                <hr>
                <h5>
                    <span id="vsnRingLightActive" class="badge badge-secondary">Disabled</span>
                </h5>
                <hr>
                <div class="d-flex flex-row bg-light flex-grow-1 m-1 ">
                    <div class="my-2 m-1 d-flex flex-grow-1"><button id="vsnEnableRingLight" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Enable</button></div>
                    <div class="my-2 m-1 d-flex flex-grow-1"><button id="vsnDisableRingLight" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Disable</button></div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row bg-light flex-grow-1 m-1">
            <div class="d-flex justify-content-center m-2">
                <img src="{{ url_for('static',filename='images/sick.PNG') }}" height="100">
            </div>
            <div class="col m-2">
                <h5>Trigger Sensor</h5>
                <hr>
                <h5>
                    <span id="vsnTriggerSensor" class="badge badge-secondary">Disabled</span>
                </h5>
                <hr>
                <div class="d-flex flex-row bg-light flex-grow-1 m-1 ">
                    <div class="my-2 m-1 d-flex flex-grow-1"><button id="vsnEnableTriggerSensor" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Enable</button></div>
                    <div class="my-2 m-1 d-flex flex-grow-1"><button id="vsnDisableTriggerSensor" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Disable</button></div>
                </div>
                <div class="d-flex flex-row bg-light flex-grow-1 m-1 ">
                    <div class="my-2 m-1 d-flex flex-grow-1"><button id="vsnSendManualTrigger" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">Manual Trigger</button></div>
                </div>
                <div>
                    <span id="vsnTriggerSensorThresholdValue"> Current Trigger Sensor Threshold Value XXXX</span>
                </div>
                <div class="d-flex flex-row bg-light flex-grow-1 m-1 align-items-center">
                    <div class="d-flex flex-column bg-light flex-grow-1 m-1 align-self-center">
                        <h5>Phase Shift Control</h5>
                        <span id="vsnPhaseShiftValue">Phase Shift ???</span>
                    </div>
                    <div class=" m-1 d-flex flex-grow-1">
                        <button id="vsnPhaseShiftPositive" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">
                            <img id="vsnArrowUpImage" src="/static/icons/chevron-top.svg" style=" width: 2rem; height: auto;">
                        </button>
                    </div>
                    <div class=" m-1 d-flex flex-grow-1">
                        <button id="vsnPhaseShiftNegative" type="button" class="btn p-3 btn-outline-dark btn-block" disabled="True">
                            <img id="vsnArrowDownImage" src="/static/icons/chevron-bottom.svg" style=" width: 2rem; height: auto;">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page %}